{% extends "padre.html" %}
{% load static %}
{% block loquecambia %}
    
    <br>
    <h3>BUSQUEDA</h3>
    
    <form action="/app/producto_buscado/" method="GET" style="margin-left: 10px;">
        <input type="text" name="articulo">
        <input type="submit" value="buscar" style="padding: 2px; border-radius: 5px; background-color: rgb(33,136,56);color: white;">
    </form>
    <br>
    <button class="btn btn-success" style="margin-left: 10px;"><a href="{% url 'app:productos' %}" style="padding:10px; text-decoration: none; color: white;">volver a productos</a></button>
    <br>
    <br>
        
{% endblock %}