{% extends "padre.html" %}
{% load crispy_forms_tags %}
{% block loquecambia %}

    <h2 class="title-contact" style="margin-top:1rem;">CONTACTANOS</h2>
    
    <form style="margin-top: 1rem; align-items: center; margin-left: 10px;" method="POST">
        {%csrf_token%}
        <div class="row">
            <div class="col-6">
              {{ form.nombre|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{form.email|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{form.telefono|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
              {{ form.asunto|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{form.mensaje|as_crispy_field}}
            </div>
        </div>
        
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>

{% endblock %}



