{% extends "padre.html" %}  
{% load static %}
{% block loquecambia %}      
        <h3>SOBRE NOSOTROS</h3>
        <br>      
        <div class="container" style="margin-left: 2rem;">
            <div class="row align-items-center">
                <div class="col">
                    Fundada en 2019, somos un emprendimiento de diseño e impresión 3D profesional orgulloso de ofrecer sus servicios a todo el país.
                    Un gran servicio empieza y termina con profesionales experimentados y dedicados. Por ese motivo seleccionamos cuidadosamente a las personas que forman nuestro equipo.    
                    Nuestro objetivo es no sólo satisfacer sus necesidades, sino también superar sus expectativas de lo que un Servicio de impresión 3D confiable debe ser.
                </div>
                <div class="col" style="padding-left: 5rem;">
                    <img style= "width: 80%; border: solid #343a40;"src="{% static 'images/nosotros.png' %}" alt="nosotros"> 
                </div>
            </div>
        </div>
        <br>
        <h3 style="background-color: #f1f1f1; padding: 5px;">¿Qué Hacemos?</h3>
        <br>
        <div class="container" style="margin-left: 2rem;">
            <div class="row align-items-center">
                <div class="col">
                    Nos especializamos en diseño de producto, partiendo de una idea o concepto, y tomando en cuenta consideraciones funcionales, morfológicas, ergonómicas y estéticas, 
                    materializamos el producto haciendo partícipe al cliente en todo el proceso de diseño, generando un ida y vuelta de propuestas hasta llegar al resultado esperado.
                    Asimismo generamos el modelado 3d de productos existentes, mediante muestras, bocetos o planos.
                    Entregamos todo el contenido generado, no sólo los archivos de impresión sino también los master digitales. 
                </div>
                <div class="col" style="padding-left: 5rem;">
                    <img style= "width: 80%; border: solid #343a40;"src="{% static 'images/QueHacemos.png' %}" alt="que_hacemos"> 
                </div>
            </div>
        </div>
        <br>
        <h3 style="background-color: #f1f1f1; padding: 5px;">Impresión y prototipado 3D</h3>
        <br>
        <div class="container" style="margin-left: 2rem;">
            <div class="row align-items-center">
                <div class="col">
                    Con un tamaño máximo de 300 x 300 x 400, imprimimos todo tipo de piezas, ya sea generadas por nosotros o proporcionadas por el cliente.
                    Asesoramos con respecto al material indicado a utilizar de acuerdo a la funcionalidad que tendrá la pieza.
                    Existe gran cantidad de modelos listos para imprimir en la web. Algunos sitios donde buscar material son los siquientes:
                    <br>
                    <a href="https://www.thingiverse.com/" target="_blank" 
                    style="text-decoration: none; font-family: 'Hind Siliguri'; color:#668308">Thingiverse</a>
                    <br>
                    <a href="https://cults3d.com/" target="_blank" 
                    style="text-decoration: none; font-family: 'Hind Siliguri';  color:#668308">Cults3d</a>
                </div>
                <div class="col" style="padding-left: 5rem;">
                    <img style= "width: 80%; border: solid #343a40;"src="{% static 'images/prototipado.png' %}" alt="prototipado"> 
                </div>
            </div>
        </div>
        <br>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>
        
{% endblock %}

